/* TailwindCSS */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Fonts */
@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 300;
  src: url("/fonts/Outfit_Light.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 400;
  src: url("/fonts/Outfit_Regular.woff") format("woff");
  font-display: swap;
}

@font-face {
  font-family: "Outfit";
  font-style: normal;
  font-weight: 500;
  src: url("/fonts/Outfit_Medium.woff") format("woff");
  font-display: swap;
}

html {
  @apply bg-background;
  @apply mx-8;
  @apply my-6;
  @apply text-title;
  @apply leading-relaxed;
}

@layer base {
  input[type="number"]::-webkit-inner-spin-button,
  input[type="number"]::-webkit-outer-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  input[type="number"] {
    appearance: textfield; /* Firefox */
  }
}

/* Design comune a tutte le celle di una tabella */
.TableCell {
  @apply p-default;
  @apply border-primary;
  @apply border-default;
  @apply table-cell;
  @apply cursor-default;
}

/* Design comune a tutte le righe di una tabella */
.TableRow {
  @apply table-row;
}

.FadeIn {
  @apply hover:duration-default;
  @apply hover:bg-secondary/light;
}
